<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-06-19T13:35:10Z</date>
	<key>WorkspacePath</key>
	<string>/Users/sunnypei/Desktop/ios-code/31.排序之简单选择排序(Simple Selection Sort)/31.排序之简单选择排序(Simple Selection Sort).xcodeproj</string>
</dict>
</plist>
